#sectionOne {
  position: relative;
  display: flex;
  flex-direction: row;

  .left-part {
    position: relative;
    width: fit-content;
    background: $blue;
    padding: 0 75px;

    @media screen and (max-width: 450px) {
      padding: 0 25px;
    }

    .wrapper {
      position: relative;
      margin: 220px 0 130px;
      height: fit-content;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 450px) {
        margin: 160px 0 60px;
      }

      h2 {
        @include title();
        margin-bottom: 100px;
        line-height: 75px;
        color: white;

        @media screen and (max-width: 450px) {
          margin-bottom: 65px;
          font-size: 38px;

          br {
            display: none;
          }

        }

        span {
          text-decoration: underline;
          text-underline-color: white;
          text-underline-position: under;

          @media screen and (max-width: 450px) {
            text-decoration: none;
          }

        }

      }

      p {
        @include paragraph();
        color: white;

        @media screen and (max-width: 450px) {

          br {
            display: none;
          }

        }

      }

      a {

        .arrow {
          position: relative;
          margin: 100px auto 0;
          height: fit-content;
          width: fit-content;
          border-radius: 100%;
          border: 2px solid white;
          padding: 9px 11px;

          @media screen and (max-width: 450px) {
            margin: 65px auto 0;
            padding: 6px 9px;
          }

          img {
            position: relative;
            transform: rotate(90deg);
            height: 35px;

            @media screen and (max-width: 450px) {
              height: 25px;
            }

          }

        }

      }

    }

    .menu-wrapper {
      position: absolute;
      top: 65px;
      left: 75px;
      height: 60px;
      width: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      cursor: pointer;
      z-index: 10;

      @media screen and (max-width: 450px) {
        height: 50px;
        width: 50px;
      }

      .middle, .top, .bottom {
        top: 0;
        transition: all 0.35s ease-in-out;
      }

      @media screen and (max-width: 450px) {
        left: auto;
      }

      .menu-span {
        position: relative;
        height: 4px;
        width: 100%;
        border-radius: 50px;
        background: white;
        transition: all 0.35s ease-in-out;
      }

      &.active {
        transition: all 0.35s ease-in-out;

        .middle {
          background: transparent;
          transition: all 0.35s ease-in-out;
        }

        .top {
          transform: rotate(45deg);
          top: 17px;
          transition: all 0.35s ease-in-out;

          @media screen and (max-width: 450px) {
            top: 14px;
          }

        }

        .bottom {
          transform: rotate(-45deg);
          top: -14px;
          transition: all 0.35s ease-in-out;

          @media screen and (max-width: 450px) {
            top: -12px;
          }

        }

      }

    }

  }

  .right-part {
    position: relative;
    display: flex;
    flex-grow: 1;
    background: url('../img/picture-one.jpg') center/cover no-repeat;

    @media screen and (max-width: 450px) {
      display: none;
    }

    .logo {
      position: relative;
      top: 65px;
      left: 65px;
      height: 38px;

      img {
        position: relative;
        height: 100%;
      }

    }

  }

  #menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 46%;
    background-color: $grey;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 200px 75px;
    transform: translateX(-100%);
    transition: all 0.35s ease-in-out;

    @media screen and (max-width: 450px) {
      height: 100vh;
      width: 100%;
      padding: 140px 30px 90px 50px;
    }

    &.active {
      transform: translateX(0);
      transition: all 0.35s ease-in-out;
    }

    a {
      text-decoration-color: transparent;

      @media screen and (max-width: 450px) {
        color: white !important;
      }

      p {
        @include paragraph();
        line-height: 80px;
        font-size: 60px;
        color: white;
        transition: all 0.35s ease-in-out;
        width: fit-content;

        @media screen and (max-width: 450px) {
          font-size: 31px;
          line-height: 40px;
          color: white !important;
        }

        &:after {
          content: "";
          position: absolute;
          bottom: 20px;
          left: 0;
          height: 7px;
          width: 0;
          background: white;
          transition: all 0.35s ease-in-out;

          @media screen and (max-width: 450px) {
            bottom: 0;
          }

        }

        &:hover {

          &:after {
            content: "";
            position: absolute;
            bottom: 20px;
            left: 0;
            height: 7px;
            width: 100%;
            background: white;
            transition: all 0.35s ease-in-out;

            @media screen and (max-width: 450px) {
              bottom: 0;
            }

          }

        }

      }

    }


  }

}